.todo--card {
    display: flex;
    height: 30px;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
}